@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

header {
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    font-weight: bold;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.open-quiz,
.page {
    margin-top: 146px;
    width: 1051px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.created {
    margin-bottom: 77px;
}

.topo-created {
    display: flex;
    align-items: center;
}

.topo-created > ion-icon {
    width: 30px;
    height: 30px;
    color: #EC362D;
}

.topo-created > h1 {
    font-size: 20px;
    font-weight: bold;
}

.conteiner-created {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.conteiner-created > .quiz {
    margin-right: 15px;
}

.add-quiz {
    border: 1px dashed #d4d4d4;
    border-radius: 5PX;
    width: 100%;
    height: 181px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.add-quiz > p {
    color: #B9B9B9;
    font-size: 20px;
    width: 240px;
    text-align: center;
    margin-bottom: 15px;
}

.add {
    width: 136px;
    height: 40px;
    background-color: #fafafa;
    border-radius: 20px;
    border: 1px dashed #EC362D;
    font-size: 21px;
    color: #EC362D;
}

.all-quizzes > h1 {
    font-size: 20px;
    font-weight: bold;
}

.conteiner-quiz {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.quiz {
    width: 340px;
    height: 181px;
    margin-top: 12px;
    margin-right: 15px;
    border-radius: 5px;
    background-color: black;
    background-size: 100% 100% !important;
    position: relative;
}

.no-margin-right{
    margin-right: 0px;
}

.quiz > p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 19px;
    color: #FFFFFF;
    margin-right: 30px;
    word-break: break-all;
}

h2 {
    font-weight: 700;
    font-size: 23px;
    margin: 0 auto 50px auto;
}

.conteiner-inputs {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 0 10px 0 #0000000D;
}

.button-next {
    width: 25vw;
    height: 54px;
    margin: 50px auto 30px auto;
    background-color: rgb(236, 54, 45);
    border: none;
    border-radius: 15px;
    font-size: 21px;
    color: #FFF5F4;    
}

.question-creation-box {
    background-color: white;
    width: 50vw;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 0 10px 0 #0000000D;
}

.conteiner-questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paragraph-screens-creation {
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0;
}

.double-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputs-screens-creation {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin: 5px 0;
    padding: 0 20px;
    height: 46px;
    font-size: 19px;
    font-style: italic;
}

.questions-inputs {
    display: flex;
    flex-direction: column;
}

.final-image {    
    width: 500px;
    height: 270px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: black;
    background-size: 100% 100% !important;
    position: relative
}

.final-image > p {
    position: absolute;
    bottom: 25px;
    left: 30px;
    font-size: 23px;
    color: #FFFFFF;
    margin-right: 30px;
}


.button-return {
    background-color: transparent;
    border: none;
    font-size: 21px;
    margin: 0 auto 30px auto;
    color: #818181;
    width: 25vw;
    height: 54px;
}

.hidden {
    display: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BABABA;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #BABABA;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #BABABA;
}

.open-quiz {
    width: 100%;
    margin-top: 69px;
    align-items: center;
}

.title-quizz {
    width: 100%;
    height: 227px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: 100% 100%;
}

.conteiner-score,
.conteiner-question {
    margin-top: 50px;
    width: 759px;
    padding: 28px 36px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.question {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.conteiner-answer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.answer {   
    width: 330px;
}

.normal {
    color: black;
}

.normal img {
    opacity: 1.0;
}

.clicked {
    color: #009C22;
}

.clicked img {
    opacity: 1.0;
}

.no-clicked {
    color: #FF4B4B;
}

.no-clicked img{
    opacity: 0.4;
}

.answer > p {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    word-break: break-all;
}

.answer > img {
    width: 330px;
    height: 175px;
    margin-bottom: 9px;
    margin-top: 20px;
}

.conteiner-score {
    padding: 20px;
    color: white;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.score-percentual {
    padding: 35px 40px;
    background-color: red;
    word-break: break-all;
}

.img-text-score {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
}

.img-text-score > img {
    width: 364px;
    height: 273px;
}

.text {
    font-size: 19px;
    text-align: left;
    color: black;
    margin-left: 20px;
    word-break: break-all;
}

@media (max-width: 1100px) {
    .open-quiz,
    .page {
        width: 100%;
        margin: 100px 20px 0px 20px;
    }

    .open-quiz{
        margin-top: 69px;
    }

    .quiz {
        margin-top: 14px;
        margin-right: 0px;
    }

    .conteiner-quiz {
        justify-content: space-around;
    }
    
    .conteiner-created{
        flex-direction: column;
    }

    .topo-created {
        width: 100%;
        justify-content: space-between;
    }

    .conteiner-score,
    .conteiner-question {
        margin-top: 25px;
        width: 100%;
    }
    
    .answer {   
        width: 45%;
    }
    
    .answer > img {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        margin-top: 12px;
    }

    .img-text-score {
        margin-top: 13px;
        flex-direction: column;
    }
    
    .img-text-score > img {
        width: 100%;
        height: auto;
    }
    
    .text {
        width: 100%;
        margin-top: 13px;
        margin-left: 0px;
    }

    .button-next,
    .button-return {
        width: 240px;        
    }

    .conteiner-inputs{
        width: 100%;
    }

    .question-creation-box{
        width: 100%;
    }

    .final-image{
        width: 100%;
    }
}